In [1]:
import pandas as pd
from pathlib import Path
import os
import numpy

In [34]:
# read in the data
# path2data = Path.joinpath(Path.cwd().parent,'data','BorderCrossingEntryData.csv')
dataPath = Path.joinpath(Path.cwd(),'BorderCrossingEntryData.csv')
df = pd.read_csv(dataPath)
df.sample(3)

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
37314,International Falls-Ranier,Minnesota,3604,US-Canada Border,11/1/2015 0:00,Pedestrians,710,POINT (-93.4 48.61)
203536,Hansboro,North Dakota,3415,US-Canada Border,6/1/2005 0:00,Rail Containers Full,0,POINT (-99.35 49)
326965,Laurier,Washington,3016,US-Canada Border,4/1/1997 0:00,Truck Containers Full,0,POINT (-118.22 49)

In [35]:
#df['Measure'].value_counts()

In [44]:
# Only interested in Passenger / Pedestrian crossings
people = df['Measure'].str.contains('Passengers|Pedestrians', case = False)

In [45]:
# Check to see how much data frame shrinks after filtering down
print(f'All measures: {df.shape}')
#df = df[people] # This gave index error when re-running, changed to df.loc
df = df.loc[people]
print(f'Just people: {df.shape}')

All measures: (115336, 8)
Just people: (115336, 8)

In [46]:
df.sample(3)

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
39100,Buffalo-Niagara Falls,New York,901,US-Canada Border,10/1/2015 0:00,Train Passengers,1961,POINT (-78.91 42.91)
167382,Calexico East,California,2507,US-Mexico Border,9/1/2007 0:00,Pedestrians,468,POINT (-115.39 32.67)
314396,Sault Sainte Marie,Michigan,3803,US-Canada Border,3/1/1998 0:00,Train Passengers,102,POINT (-84.36000000000001 46.51)

In [47]:
# Drop unnecessary columns 
df.drop(['Port Code','Port Name'],axis=1,inplace=True)

In [48]:
df.sample(3)

,State,Border,Date,Measure,Value,Location
115197,Maine,US-Canada Border,12/1/2010 0:00,Personal Vehicle Passengers,5042,POINT (-67.43 45.57)
279633,North Dakota,US-Canada Border,7/1/2000 0:00,Personal Vehicle Passengers,6880,POINT (-102.27 49)
218608,California,US-Mexico Border,7/1/2004 0:00,Personal Vehicle Passengers,122830,POINT (-114.73000000000002 32.72)