<a href="https://colab.research.google.com/github/maxrgnt/pythdc2-project2/blob/master/EDA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Panel Data
import pandas as pd
# System folders
import os
from pathlib import Path
# Visualization
import plotly.graph_objs as go
import seaborn as sns
%matplotlib inline

In [0]:
def convertToDateTime(year):
  return pd.to_datetime(year, format='%Y')

In [3]:
url = 'https://raw.githubusercontent.com/maxrgnt/pythdc2-project2/master/data/unemployment.csv'
bls = pd.read_csv(url)
bls.sample(1)

       State  Year  Population  LaborForce   Employed  Unemployed Abrv
361  Arizona  2000   3849206.0   2509883.0  2410581.0     99302.0   AZ

In [4]:
url = 'https://raw.githubusercontent.com/maxrgnt/pythdc2-project2/master/data/pctChangeGDP.csv'
bea = pd.read_csv(url)
bea.sample(1)

       State Abrv  Year  Value
361  Arizona   AZ  1988    8.2

In [5]:
# read in the data
url='https://raw.githubusercontent.com/maxrgnt/pythdc2-project2/master/data/borderCrossing.csv'
bts = pd.read_csv(url)
bts.sample(1)

      Abrv         State  Longitude  ...  Year         Measure  Value
59745   ND  North Dakota    -103.81  ...  2006  Bus Passengers      0

[1 rows x 8 columns]

In [13]:
df2 = bls.groupby(['State','Year','Abrv'])['Employed','Unemployed'].sum().reset_index()
df2.sample(1)

        State  Year Abrv   Employed  Unemployed
243  Michigan  2004   MI  4705591.0    356785.0

In [0]:
def calcPctChange(df, col2calc):
  for y in df[col2calc].unique():
    print(y)
    blah = 1.0
    if y != df['Year'].min():
      t0 = df.loc[(df['Year'] == y-1) & (df['State'] == x),'Value'].tolist()[0]
      t1 = df.loc[(df['Year'] == y  ois) & (df['State'] == x),'Value'].tolist()[0]
      df.loc[df['Year'] == y, 'pctChange'] = (1-t1/t0)*100
  print('hi')

In [0]:
# calcPctChange(df2, 'Year')
for state in df2['State'].unique():
  print(state)

Alaska
Arizona
California
Idaho
Maine
Michigan
Minnesota
Montana
New Mexico
New York
North Dakota
Ohio
Texas
Vermont
Washington

In [0]:

for y in list(brdr['Year'].unique()):
  blah = 1.0
  if y != brdr['Year'].min():
    t0 = brdr.loc[brdr['Year'] == y-1,'immigrants'].tolist()[0]
    t1 = brdr.loc[brdr['Year'] == y,'immigrants'].tolist()[0]
    brdr.loc[brdr['Year'] == y, 'pct'] = (1-t1/t0)*100
brdr = brdr[brdr['Year'].astype(int)>brdr['Year'].min()]